<article>
    <h1>Quem Somos:</h1>
    <p>
        O Instituto Equale é uma associação sem fins lucrativos,
        que visa fortalecer comunidades e projetos que promovam a melhoria da rede
        pública de ensino da Região Metropolitana de Belo Horizonte.
    </p>
</article>

<article>
    <h1>Nossa Meta:</h1>
    <p class="goal"><strong>R$ 10000,00</strong> / <strong>R$ 100000,00</strong></p>
</article>

<article>
    <h1>Conheça Nossos Alunos:</h1>
    <div fxLayout="row wrap" fxLayoutAlign="space-around center">
        <app-student-card *ngFor="let student of studentSample" [id]="student"></app-student-card>
    </div>
</article>

